/bin/
/src/RIOT/*
/src/WebInterface/dist/
/src/WebInterface/node_modules/
/src/WebInterface/package-lock.json
/src/WebInterface/yarn.lock
/src/RIOT-application/bin/
/src/WebInterface/.idea/
/src/EdgeSoftware/mqtt-ca.pem
